<?xml version='1.0' encoding='utf-8'?>
    <widget id="com.jorgepereira.biblia60" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Reina Valera 1960</name>
    <description>
        Aplicación de la Biblia Reina Valera 1960 empaquetada con Cordova.
    </description>
    <author email="jorge.alb.pereira@gmail.com" href="https://github.com/JPereira2025">
        Jorge Pereira
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="www/img/app_icon.png" />
        <!-- Iconos Adaptativos para Android Moderno -->
        <icon background="#fdf6e3" density="ldpi" foreground="www/img/app_icon.png" />
        <icon background="#fdf6e3" density="mdpi" foreground="www/img/app_icon.png" />
        <icon background="#fdf6e3" density="hdpi" foreground="www/img/app_icon.png" />
        <icon background="#fdf6e3" density="xhdpi" foreground="www/img/app_icon.png" />
        <icon background="#fdf6e3" density="xxhdpi" foreground="www/img/app_icon.png" />
        <icon background="#fdf6e3" density="xxxhdpi" foreground="www/img/app_icon.png" />

        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/app_icon.png" />
        <preference name="AndroidWindowSplashScreenBackground" value="#fdf6e3" />
    </platform>

    <preference name="KeepRunning" value="true" />
    <preference name="ShowSplashScreenSpinner" value="false" />
</widget>
